
.git/
.idea/
dist/
docs/
examples/
.dockerignore
.gitignore
Dockerfile*
*.md

*/__pycache__/
*.py[cod]
*$py.class
*/coverage.json
*/.coverage
*/.coverage/
*/.coveragerc
*/htmlcov/
*/htmlcov/
*/.mypy_cache/
mypy.ini
venv/
*/venv/
.venv/
*/.venv/
