
**/.git/
**/.idea/
**/dist/
**/docs/
**/.dockerignore
**/.gitignore
**/*.md
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/coverage.json
**/.coverage
**/.coverage/
**/.coveragerc
**/htmlcov/
**/htmlcov/
**/.mypy_cache/
**/mypy.ini
**/venv/
**/.venv/
**/test-requirements.txt
**/tests/

local*.sh