version_info: "0"
resources:
{{#clusters}}
- "@type": type.googleapis.com/envoy.api.v2.Cluster
  name: {{name}}
  connect_timeout: 300s
  {{#hosts_are_ipv4}}
  type: static
  dns_lookup_family: V4_ONLY
  {{/hosts_are_ipv4}}
  {{#hosts_are_ipv6}}
  type: static
  dns_lookup_family: V6
  {{/hosts_are_ipv6}}
  {{#hosts_are_hostname}}
  type: LOGICAL_DNS
  dns_lookup_family: V4_ONLY
  {{/hosts_are_hostname}}
  lb_policy: round_robin
  {{#uses_http2}}
  # Enabling http2_protocol_options means forcing connections to the cluster as http/2 requests.
  http2_protocol_options: {}
  {{/uses_http2}}
  load_assignment:
    cluster_name: {{name}}
    endpoints:
      - lb_endpoints:
        {{#endpoints}}
        - endpoint:
            address:
              socket_address:
                address: "{{host}}"
                port_value: {{port}}
        {{/endpoints}}
{{/clusters}}
