node:
  id: {{service_member}}
  cluster: {{network_name}}

admin:
  access_log_path: "/dev/stdout"
  address:
    socket_address:
      address: 0.0.0.0
      # Post mustache replacement.
      port_value: %admin_port%

dynamic_resources:
  cds_config:
    path: "/tmp/active-envoy-config/cds.yaml"
  lds_config:
    path: "/tmp/active-envoy-config/lds.yaml"
